$clr-white: #ffffff;
$clr-black: #0f0f0f;
$clr-dark-green: #0d3b2b; 
$clr-green: #1a6b4c;     
$clr-light-green: #2d9a6c; 
$clr-mint: #5fd4b4;      
$clr-light-bg: #f9faf8;  
$clr-gray-light: #e8e8e8;
$clr-gray: #767676;
$clr-gray-dark: #505050;

$clr-blck: $clr-black;
$clr-wht: $clr-white;
$clr-pink: #2d9a6c;
$clr-orange: #1a6b4c;
$clr-blue: #0d3b2b;
