html, body {
  height: 100%;
}

html {
  font-size: 50%;
  scroll-behavior: smooth;

  @include respond-to(lg) {
    font-size: 62.5%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}